<footer class="site-footer">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

  <div class="row">
    <div class='col-1'></div>
    <div class='col-10'>
      <ul class='footer-list'>
        <li>COPYRIGHT © NURTURE MASSAGE THERAPEUTIC SPA 2009-2017 | ALL RIGHTS RESERVED</li>
        <li>A Nurturing Touch Therapeutic Massage</li>
        <li>825 Wappoo Rd</li>
        <li>Charleston, SC 29407</li>
        <li>843.277.6467</li>
        <li>charlestonSCmassage.com</li>
      </ul>
    </div>
    <div class='col-1'></div>
  </div>

</footer>
