<footer class="site-footer">
	<div class='mobile-menu'>
		<a href='tel:8432776467'>CALL</a>
		<a href='/about/#location'>MAP</a>
		<a href='https://booknow.appointment-plus.com/1hsr590x/10'>BOOK</a>
	</div>
  <div class="row">
    <div class='col-1'></div>
    <div class='col-10'>
      <ul class='footer-list'>
        <li>843.277.6467</li>
        <li>825 Wappoo Rd Charleston, SC 29407</li>
        <li>COPYRIGHT © NURTURE MASSAGE THERAPEUTIC SPA 2009-2017 | ALL RIGHTS RESERVED</li>
      </ul>
    </div>
    <div class='col-1'></div>
  </div>
</footer>
