<header> 
  <div class="container-fluid">
    {% assign pages = site.pages | sort: 'order' %}

			<nav class="fixed-top navbar navbar-expand-lg navbar-light">
        <div class='navbar-nav'>
					<a class="navbar-brand" href="{{ "/" | relative_url }}">
						<img src="{{ '/' | relative_url }}{{ site.image_path}}the-couple.svg" 
								 class="nav-logo d-inline-block align-top" alt="{{ site.title | escape }} logo"
						>
					</a>
        </div>
        {% if pages %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              {% for page in pages %}
                {% if page.visable == true %}
                  <li><a class="nav-item nav-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
			</nav>
    <div class='row header-row'>
      <div class='col'></div>
      <div class='col-sm-12 col-lg-6 header-logo'>
				<a class="site-title" href="{{ "/" | relative_url }}">
					<img class="img-fluid" src="{{ "/" | relative_url }}{{ site.image_path }}couplesbanner.png" 
						alt="a couple holding hands while laying down on massage tables" 
					/>
        </a>
      </div>
      <div class='col'></div>
    </div>
	</div>
</header>
