table {
  margin: 25px 0;
}
td {
  padding: 0 0 0 10px;
}

h2,h4,h5,h6 {
  @include heading($lavender); 
}

h1 {
  
	font-family: $pariesienne;
	@include heading($color-heading); 
}

h1 {
  
	font-family: $pariesienne;

}

h3 {
	@include heading(black);
}

p {
  font-family: $font-content;
}

header {
	background: white;
}

footer {
  margin: 40px 0 40px 0;
  font-size: .75rem;
  background-color: $color-background;
  h2 {
    text-shadow: $text-border;
  }
}

img {
	max-width: 100%
}
