table {
  margin: 25px 0;
}
td {
  padding: 0 0 0 10px;
}
h1 {
  @include heading($color-heading); 
}

h2 {
  @include heading($lavender);
}

footer {
  margin: 0 0 40px 0;
  font-size: .75rem;
  background-color: $color-background;
  h2 {
    text-shadow: $text-border;
  }
}
