table {
  margin: 25px 0;
}
td {
  padding: 0 0 0 10px;
}
h1, h2 {
  margin: 1em 0;
  font-family: 'Pacifico', cursive;
  color: $color-heading; 
  text-align: center;
    @include media-breakpoint-down(md) { 
      font-size: 1rem;
  }
}
footer {
  font-size: .75rem;
  background-color: $color-background;
  h2 {
    text-shadow: $text-border;
  }
}
