.background1 {
	background-color: #c7bcd4;
}

.background2 {
	background-color: #94b8c1;
}

.background {
  position: fixed;
  top: 200px;
  z-index: -1;
}

.marginned{
  margin: 11% 0;
}

.fixed-height {
  height: 226px;
}
