.center {
  text-align: center;
}

.background {
  position: fixed;
  top: 200px;
  z-index: -1;
}

.fixed-height {
  height: 226px;
}

.marginned{
  margin: 11% 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

// dotted list copied from CodePen https://codepen.io/jensgro/pen/bNwXMW?q=price%20list
.dotted-list {
  list-style-type: none;
  margin: auto;
}

.dotted-list li {
  overflow: hidden;
  margin: 0 0 10px 0;
  position: relative;
}

.dotted-list li span:first-child {
  float: left;
  display: inline-block;
  padding: 0 20px 0 0;
  background-color: #fff;
  position: relative;
}

.dotted-list li span + span {
  float: right;
  display: inline-block;
  padding: 0 3px 0 20px;
  background-color: #fff;
  position: relative;
}

.dotted-list li:before {
  content: ".......................................................................................................................................................................................................................................................................................................................................................";
  white-space: nowrap;
  position: absolute;
}
