$lavender: #c8b8d3;
$teal: #8bb9c2;

$color-background: white;
$color-heading: $teal; 
$color-navlink-background: rgb(180, 209, 215);
$color-navlink-text: $lavender; 

$text-border: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black; 
$heading-shadow: 1px 1px black;
