.nav-link:hover {
  background: white;
}
table {
  margin: 25px 0;
}
td {
  padding: 0 0 0 10px;
}
h1, h2 {
  margin: 1em 0;
  font-family: 'Pacifico', cursive;
  color: rgb(139, 185, 194);
  text-align: center;
}

.background1 {
	background-color: #c7bcd4;
}
.background2 {
	background-color: #94b8c1;
}
 .padded > div > p {
   padding: 11%;
 }
.background {
  position: fixed;
  top: 200px;
  z-index: -1;
}
.fixed-height {
  height: 226px;
}
.col {
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 100vw;
  }
}
.navbar-center {
  width: 80%;
  margin: 0 auto;
}
