---                                                                            
layout: default 
title: Home3 
permalink: /home3/                                                          
--- 

<h1>Your Place for Couples Massage in Charleston, SC</h1>

<p>
Imagine stepping into a warm, cozy room filled with soft light and a serenade of hushed music. You and your loved one slip under crisp, fresh sheets just before your two personal massage therapists walk in. You note the smell of lavender and hear the gentle sound of massage oil being warmed in their hands. You and your partner take in one last glimpse of one another before closing your eyes and escaping into an hour of luxury and relaxation. 
</p>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-mother.png" class="img-fluid" alt="nurture the mother">
	</div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<p>
			A specially designed, soothing massage for the expectant mother. The focus is on relieving discomfort in the shoulders, lower back and legs to improve circulation; relaxing the body and mind and leaving our "mother-to-be" feeling refreshed and ready for her new role in life.
		</p>
	</div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-athlete.png" class="img-fluid" alt="nurture the athlete">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-couple.svg" class="img-fluid" alt="nurture the couple">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-neck.png" class="img-fluid" alt="nurture the neck">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>
