---                                                                            
layout: default 
title: Home3 
permalink: /home3/                                                          
--- 

<h1>Your Place for Massage in Charleston, SC</h1>

<p>
  We all have stress, pains, and injuries. Whelier you are a grandparent, expecting molier, athlete, business professional, or manual laborer, you can benefit from Massage Therapy. Massage is a natural, nurturing, and ancient form of healing that offers total-wellness for mind, body, and soul. Nurture Massage Therapeutic Spa in Charleston offers affordable massage and mini-spa services with a focus on relaxation, pain relief, injury prevention & rehabilition, increased athletic performance, and ease of discomfort during pregnancy. Angela Judy offers a gentle yet firm and detailed massage, and specializes in treating neck and shoulder pain, low back and hip pain, and TMJ and headaches. Our office is in beautiful West Ashley inside of Total Life Care Chiropractic, just minutes from downtown Charelston.
</p>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-mother.png" class="img-fluid" alt="nurture the mother">
	</div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<p>
			A specially designed, soothing massage for the expectant mother. The focus is on relieving discomfort in the shoulders, lower back and legs to improve circulation; relaxing the body and mind and leaving our "mother-to-be" feeling refreshed and ready for her new role in life.
		</p>
	</div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-athlete.png" class="img-fluid" alt="nurture the athlete">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-couple.png" class="img-fluid" alt="nurture the couple">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>

<div class='row marginned'>
	<div class='col-lg-6 col-sm-12 col-md-12'>
		<img src="{{ "/" | relative_url }}{{ site.image_path }}the-neck.png" class="img-fluid" alt="nurture the neck">
  </div>
	<div class='col-lg-6 col-sm-12 col-md-12'>
    <p>Before, during, or after an athletic event, your therapist will focus on the muscles used during your activities and give you specialized stretches. You may hire a therapist to be on-site during an event for an additional out-call fee.
    </p>
  </div>
</div>
